<div class="modal-overlay" (click)="fecharModal()">
  <div class="modal" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <i class="pi" [ngClass]="temSenha ? 'pi-lock' : 'pi-link'"></i>
      <h3>{{ temSenha ? "Link protegido" : "Acessar link" }}</h3>
      <button class="modal-fechar" (click)="fecharModal()">
        <i class="pi pi-times"></i>
      </button>
    </div>

    <div class="cliques">
      <span class="cliques-numero">{{ totalCliques }}</span>
      <span class="cliques-label">Cliques neste link</span>
    </div>

    <ng-container *ngIf="temSenha">
      <p class="modal-descricao">Digite a senha para acessar este link</p>
      <div class="field">
        <label>Senha</label>
        <input
          pInputText
          type="password"
          [(ngModel)]="senha"
          placeholder="Digite a senha"
        />
      </div>
    </ng-container>

    <ng-container>
      <p class="erro" *ngIf="erro">{{ erro }}</p>
      <p-button
        label="Ir para o link"
        icon="pi pi-arrow-right"
        [loading]="carregando"
        (onClick)="verificarSenha()"
        styleClass="btn-full"
      />
    </ng-container>
  </div>
</div>
