<div class="modal-overlay" (click)="fecharModal()">
  <div class="modal" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <i class="pi pi-lock"></i>
      <h3>Link protegido</h3>
      <button class="modal-fechar" (click)="fecharModal()">
        <i class="pi pi-times"></i>
      </button>
    </div>

    <p class="modal-descricao">Digite a senha para acessar este link</p>

    <div class="field">
      <label>Senha</label>
      <input
        pInputText
        type="password"
        [(ngModel)]="senha"
        placeholder="Digite a senha"
      />
    </div>

    <p class="erro" *ngIf="erro">{{ erro }}</p>

    <p-button
      label="Acessar link"
      icon="pi pi-arrow-right"
      [loading]="carregando"
      [disabled]="!senha.trim()"
      (onClick)="verificarSenha()"
      styleClass="btn-full"
    />
  </div>
</div>
